<h1>Movie: <strong><%= @movie.title %></strong></h1>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Movie year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<h3>Listing all Reviews</h3>
<table>
  <tr>
    <th>User</th>
    <th>Stars</th>
    <th>Review</th>
  </tr>
  <% @movie.reviews.each do |review| %>
    <tr>
      <td><%= review.username %></td>
      <td><%= review.stars %></td>
      <td><%= review.review %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', movies_path %>